    
    /* General Instructions */
body{
    padding: 0;
    margin: 0;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-direction: column;
    min-height: 100vh;
    background-color: #8dc4c6;
}

    /* Header Configuration */
.header{
    display: flex;
    flex-direction: row;
    max-width: 1600px;
    height: 80px;
    background-image: url(assets/headerback1.webp);
    background-position: center;
    justify-content: center;
    gap: 150px;
    color: rgb(255, 255, 255);
}
.header h1{
    font-size: 50px;
    margin: 0;
    align-content: center;
}
.buttons{
    display: flex;
    gap: 50px;
    align-items: flex-end;
    margin-bottom: 5px;
}
.buttons button{
    height: 35px;
    width: 100px;
    background-color: rgba(128, 128, 128, 0.31);
    border-color: transparent;
    color: white;
    font-size: 25px;
    border-radius: 20px;
}
.buttons button:hover{
    transform: scale(1.3);
    background-color: rgba(100, 100, 100, 0.414);
    border-radius: 20px;
    cursor: pointer;
}
    /* Main Configuration */
.main{
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}
 .sidebar{ 
    display: flex;
    flex-direction: column;
    max-width: 25%;
    min-width: 20%;
    padding: 30px;
    margin-right: 10px;
    background-color: #4f8a8c;
    gap: 30px;
    align-items: center;
    border-radius: 20px;

 }
.catalog-container{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    background-color: #7db4bb;
    gap: 30px;
    padding: 20px;
    align-content: flex-start;
    border-radius: 20px;
}

    /* Card configuration */
.card{
    display: flex;
    flex: 1;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 250px;
    min-width: 200px;
    max-height: 300px;
    border-radius: 15px;
    background-color: #aea8a8;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}
#promocao{
    max-width: 250px;
    min-width: 200px;
    min-height: 150px;
    animation: piscar 5s infinite;
    font-size: 35px;
    overflow: hidden;

}
.card img{
    max-width: 80%;
    max-height: 70%;
    border-radius: 15px;
}
.card h2{
    text-align: center;
    display: flex;
    flex: 1;
    margin: 0;
    overflow: hidden;
}
.card h3{
    text-align: center;
    height: 10%;
    width: 100%;
    margin: 0;
}
    /* Footer Configuration */
.footer{
    display: flex;
    flex-direction: row;
    max-width: 1600px;
    height: 80px;
    background-color: #65d1d6;
    color: #000000;
    gap: 100px;
}
.trademark{
    width: 50%;
}
.social-media-links button {
    border: transparent;
    background-color: #65d1d6;
}
.social-media-links{
    width: 50%;
    display: flex;
    height: 50px;
    margin-top: 10px;
}
.social-media-links img{
    width: 50px;
    height: 50px;
    justify-content: center;
    background-color: #65d1d6;
}
@keyframes piscar{
    0% {background-color: #B85252;}
    50% {background-color: #F58840;}
    100% {background-color: #B85252;}
}

#sign-in-iframe {
    display:none;
    background-color: white;
    position: fixed;
    top: 30%;
    right:30%;
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
}
@media (max-width: 600px){
    body{
        max-width: 1600px;
    }
    .header{
        height: 150px;
    }
    .main{
        flex-direction: column;
    }
    .sidebar{
        flex-direction: row;
        min-width: 100%;
        max-height: 650px;
        overflow-x: auto;
    }
    #promocao{
        display: none;
    }
    .catalog-container{
        min-width: 100%;
        flex-direction: row;
        justify-content: center;
    }
    .card{
        min-width: 400px;
        min-height: 600px;
    } 
    .card img{
        max-width: 90%;
        max-height: 80%;
        border-radius: 15px;
    } 
    
}