/*----------------General Instructions------------------------------ */
*{  
    /*    Page reset    */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    height: 100vh;
}
.interface{
    max-width: 1200px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.contact-button button{
    padding: 10px 30px;
    margin: 0 10px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    background-color: #00FF08;
    cursor: pointer;
}
.contact-button button a{
    color: black;
    text-decoration: none;
}
.contact-button button:hover{
    transform: scale(1.08);
    transition: ease 0.4s;
    box-shadow: 0px 0px 20px #00ff08e8;
}
h2.title{
    color: white;
    font-size: 35px;
    text-align: center;
}
.logo img{
    width: 200px ;
    height: 100px;
}
h1{
    color: #00ff08
}

/*------------------- Header Configuration-------------------------- */
header{
    padding: 20px 4%;
}
header > .interface{
    display: flex;
    align-items: center; /*align items in the center of vertical axis */
    justify-content: space-between;
}
header a{
    display: inline-block; /*format link in a block type to aplly transform() later*/
    color: rgba(136, 133, 133, 0.785);
    text-decoration: none;
}
header .nav-buttons a:hover{
    color: white;
    transform: scale(1.08);
    transition: ease 0.4s;
}
header nav ul{
    list-style: none; /*remove list markers */
}
header nav ul li{
    display: inline-block; /*display items horizontally like in a flexbox*/
    padding: 0 40px;
}


/*-----------------Main configuration------------------------------- */
section.main{
    padding: 40px 4%;
}
section.main .flex{
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.main .main-text h1{
    color: white;
    font-size: 45px;
    line-height: 45px;
}
.main .main-text h1 span{
    color:#00FF08;
}
.main .main-text p{
    color: white;
    margin: 40px 0px;
}
.main .main-img img{
    border-radius: 15px;
}
/* ----------Benefits Configuration ---------------------------- */

section.benefits{
    padding: 40px 4%;
}
section.benefits .flex{
    gap: 40px;
}
.benefits .benefits-card{
    color: white;
    padding: 40px;
    border-radius: 20px;
    margin-top: 50px;
    transition: .2s;
}
.benefits .benefits-card .icons{
    width: 200px;
    height: auto;
}
.benefits .benefits-card h3{
    font-size: 25px;
    margin: 10px 0;
}
.benefits .benefits-card:hover{
    transform: scale(1.06);
    box-shadow: 0px 0px 8px #ffffffb2;
}
/* ---------------- About Configuration ------------------------------*/
section.about{
    padding: 40px 4%;
}
section.about .flex{
    gap: 60px;
    align-items: center;
    justify-content: center;
}
section.about .about-image img{
    border-radius: 20px;
}
section.about .about-text{
    color: white;
    font-size: 20px;
    line-height: 30px;
}
section.about .about-text p{
    margin: 50px 0;
}
/* --------------Customer Review Configuration ---------------------- */
section.customer-review{
    padding: 40px 4%;
}
.customer-review .customer{
    border: 5px solid black;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}
.customer-review .customer .photo{
    width: 350px;
    height: auto;
    min-height: 400px;
    padding: 20px;
    border-radius: 60px;
}
.customer-review .customer h4{
    color: #00FF08;
    font-size: 20px;
}
.customer-review .customer p{
    color: white;
    font-size: 18px;  
}
/* -----------Footer Configuration -------------------- */
footer{
    padding: 40px 4%; 
    margin-top: 50px;
}
footer .flex{
    justify-content: space-between;
    align-items: center;
}
footer .social-media .social-button{
    width: 50px;
    height: 50px;
    background-color: black;
    border: none;
    margin: 30px;
    transition: ease .5s;
}
footer .social-media .social-button img{
    width: 50px;
    height: 50px; 
    background-color: black;
}
footer .social-media .social-button:hover{
    transform: scale(1.2);
}

/* ------------MOBILE---------------- */

@media(max-width: 1190px){
    header .interface{
        justify-content: center;
    }
    .flex{
        flex-direction: column;
    }
    .main .flex{
        flex-direction: column-reverse;
    }
    .nav-buttons{
        display: none;
    }
    .social-media .flex{
        flex-direction: row;;
    }
    #header-btn{
        display: none;
    }
    .contact-button{
        align-items: center;
        justify-content: center;
    }
    .interface{
        align-items:center;
        justify-content: center;
    }
}


