html, body{
    margin: 0;
    padding: 0;
    background-color: #565353;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
}
.header{
    background-image: url(assets/headerback.webp);
    background-size: auto;
    background-position: center;
    font-size: 25px;
    display: flex;
    width: 100vw;
    height: 15vh;
    background-color: #0fe0e67a;
    gap: 20%;
    color: white;
}
.header h1{
    padding-left: 2%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.buttons{
    display: flex;
    flex: 1;
    align-items: flex-end;  
}
.buttons button{
    font-size: 100%;
    width: 25%;
    color: white;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(0, 0, 0, 0);
}
.main{
    display: flex;
    flex-direction: row;
}
.sidebar{
    width: 400px;
    background-color: blue;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
    display: flex;
}

.catalog-container{
    display: flex;
    flex: 1;
    background-color: black;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    gap: 15px;
    align-content: flex-start; /*alinha multiplas linhas, combina com flex wrap*/
}
.card{
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 10px;
    display: flex;
    background-color: yellow;
    border-radius: 15px;
    height: 400px;
    width: 300px;
    flex-direction: column;
    cursor: pointer;
}
.card img{
    margin: 10px;
    /*padding: 10px;*/
    border-radius: 15px;
    max-width: 90%;
    max-height: 80%;
}
.card h2{
    margin: 0;
    width: 100%;
    height: 10%;
    font-size: 120%;
}
.card h3{
    margin: 0;
    width: 100%;
    height: 10%;
    font-size: 160%;


}
.footer{
    background-color: aqua;
    display: flex;
    width: 100vw;
    height: 7vh;
}
.trademark{
    width: 1000px

}
.social-media-links{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.social-media-links img{
    width: auto;
    height: 90%;
}
.social-media-links button{
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
}